#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "tandoor"
name = "Tandoor"
description.en = "Manage and share recipes, plan meals, build shopping lists"
description.fr = "Gérez et partagez des recettes, planifiez des repas, créez des listes de courses"

version = "2.2.4~ynh1"

maintainers = ["Navan Chauhan"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://tandoor.dev"
demo = "https://app.tandoor.dev/accounts/login/?demo"
admindoc = "https://docs.tandoor.dev"
userdoc = "https://docs.tandoor.dev"
code = "https://github.com/TandoorRecipes/recipes"
cpe = "cpe:2.3:a:tandoor:recipes"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true
sso = true

disk = "1000M"
ram.build = "2000M"
ram.runtime = "1500M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    url = "https://github.com/TandoorRecipes/recipes/archive/refs/tags/2.2.4.tar.gz"
    sha256 = "74d14bb167039f8dc01c5f9642aa45283aef5d33d53d348f182f80917978c323"
    in_subdir = true

    autoupdate.strategy = "latest_github_tag"
    autoupdate.asset = "tarball"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]
    subdirs = ["media"]

    [resources.permissions]
    main.url = "/"

    api.url = "/api"
    api.allowed = "visitors"
    api.show_tile = false
    api.protected = true

    media.url = "/media"
    media.allowed = "visitors"
    media.show_tile = false
    media.protected = true

    [resources.ports]
    main.default = 8095

    [resources.apt]
    packages = [
        "git",
        "curl",
        "python3",
        "python3-pip",
        "python3-venv",
        "libpq-dev",
        "postgresql",
        "libsasl2-dev",
        "python3-dev",
        "libldap2-dev",
        "libssl-dev",
        "libffi-dev",
        "autoconf",
        "build-essential",
        "libxmlsec1-dev",
        "pkg-config",
        "redis-server",
    ]

    [resources.apt.extras.yarn]
    repo = "deb https://dl.yarnpkg.com/debian/ stable main"
    key = "https://dl.yarnpkg.com/debian/pubkey.gpg"
    packages = ["yarn"]

    [resources.database]
    type = "postgresql"

    [resources.nodejs]
    version = "22"
